.modal__container-confirm {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.modal__confirm {
  background-color: #fff;
  width: 430px;
  height: 182px;
  border: 1px solid rgba(0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__confirm-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17em;
  font-family: "Roboto", sans-serif;
  color: #000;
  width: 315px;
  margin: 43px 0 0 36px;
}

.modal__confirm-signin {
  border: none;
  color: #2f71e5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  margin: 14px 0 0 36px;
  background-color: #fff;
  text-align: left;
}

.modal__confirm-signin:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .modal__confirm {
    max-width: 343px;
  }
}
