.about {
  align-items: center;
  display: flex;
  gap: 56px;
  padding-left: 104px;
  padding-right: 104px;
}

.about__image {
  border-radius: 50%;
  height: 464px;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 464px;
}

.about__container {
  width: 600px;
  margin: 50px 0 0 56px;
  font-weight: 400;
  color: #1a1b22;
}

.about__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin: 0 0 24px;
}

.about__paragraph {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .about {
    margin: 32px 16px 0 16px;
    flex-direction: column;
  }

  .about__image {
    width: 272px;
    height: 272px;
    margin: 32px auto 24px;
  }

  .about__container {
    width: 288px;
    margin: 24px 0 128px 0;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto 16px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .about {
    margin: 40px 0 0 0;
  }

  .about__container {
    margin: 0 0 0 32px;
  }

  .about__title {
    font-size: 30px;
    line-height: 1.33em;
  }
}
