.about {
  max-width: 1440px;
  display: flex;
  margin: 80px 0 0 0;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 400px;
  margin: 0 0 80px 104px;
}

.about__container {
  width: 600px;
  margin: 50px 0 0 56px;
  font-weight: 400;
  color: #1a1b22;
}

.about__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 400;
  margin: 0;
}

.about__paragraph {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33em;
}

@media screen and (max-width: 1440px) {
  .about {
    padding-right: 40px;
    padding-left: 40px;
    gap: 40px;
  }
}

@media screen and (max-width: 1327px) {
  .about {
    padding-right: 40px;
    padding-left: 40px;
    gap: 40px;
  }

  .about__image {
    width: 372px;
    height: 372px;
    margin-top: 61px;
    margin-bottom: 61px;
    margin-left: auto;
  }
}

@media screen and (max-width: 1000px) {
  .about__image {
    width: 232px;
    height: 232px;
    margin-top: 61px;
    margin-bottom: 61px;
  }
  .about__title {
    margin: 0 0 16px;
    font-size: 30px;
    line-height: 40px;
  }

  .about__container {
    width: 424px;
    margin: 0 0 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: 40px 0 0 0;
  }

  .about__image {
    width: 232px;
    height: 232px;
    margin: 21px 0 61px 40px;
  }

  .about__container {
    width: 424px;
    margin: 0 0 0 32px;
  }

  .about__title {
    line-height: 1.33em;
  }
}

@media screen and (max-width: 320px) {
  .about {
    margin: 32px 16px 0 16px;
    flex-direction: column;
    padding-left: 1px;
  }

  .about__image {
    width: 272px;
    height: 272px;
    margin: 0 8px 0 8px;
  }

  .about__container {
    width: 288px;
    margin: 1px 0 128px 0;
  }

  .about__title {
    font-size: 30px;
    line-height: 1.33em;
  }
}
