.about {
  max-width: 1440px;
  display: flex;
  margin: 80px 0 0 0;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 400px;
  margin: 0 0 80px 104px;
}

.about__container {
  width: 600px;
  margin: 50px 0 0 56px;
  font-weight: 400;
  color: #1a1b22;
}

.about__title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 400;
  margin: 0;
}

.about__paragraph {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    /* max-width: 320px; */
    margin: 32px 16px 0 16px;
    flex-direction: column;
  }

  .about__image {
    width: 272px;
    height: 272px;
    margin: 0 8px 0 8px;
  }

  .about__container {
    width: 288px;
    margin: 24px 0 128px 0;
  }

  .about__title {
    font-size: 30px;
    line-height: 1.33em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .about {
    /* max-width: 768px; */
    margin: 40px 0 0 0;
  }

  .about__image {
    width: 232px;
    height: 232px;
    margin: 21px 0 61px 40px;
  }

  .about__container {
    width: 424px;
    margin: 0 0 0 32px;
  }

  .about__title {
    font-size: 30px;
    line-height: 1.33em;
  }
}
