.header {
  background:
    url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.svg),
    lightgray 50% / cover no-repeat;
  max-width: 1440px;
  height: 576px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  /* background: no-repeat; */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-mobile.svg);
    height: 536px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header {
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-tablet.svg);
    height: 400px;
  }
}
