.page {
  font-family: "Roboto", sans-serif;
  position: relative;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  max-width: 1440px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .page {
    max-width: 768px;
  }
}
