.saved {
  margin: 40px 0 0 0;
}

.saved__container {
  margin: 0 104px 0 104px;
}

.saved__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33em;
  font-weight: 400;
  color: rgba(26, 27, 34, 0.5);
}

.saved__header {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 400;
  max-width: 530px;
}

.saved__words {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33em;
}

.saved__bold {
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved {
    max-width: 320px;
    margin: 8px 0 0 0;
  }

  .saved__container {
    margin: 0 16px 32px 16px;
  }

  .saved__title {
    font-size: 16px;
    line-height: 1.5em;
  }

  .saved__header {
    font-size: 30px;
    line-height: 1.133em;
    margin: 16px 0 0 0;
  }

  .saved__words {
    margin: 50px 0 0 0;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .saved {
    margin: 24px 0 0 0;
  }

  .saved__container {
    margin: 0 40px 0 40px;
  }

  .saved__title {
    font-size: 16px;
    line-height: 1.5em;
  }

  .saved__header {
    font-size: 30px;
    line-height: 1.133em;
    width: 336px;
  }

  .saved__words {
    font-size: 18px;
  }
}
