.search-home__content {
  display: flex;
  flex-direction: column;
  width: 608px;
  margin-right: auto;
  margin-left: auto;
  /* max-width: 1440px;
  height: 576px;
  display: flex;
  flex-direction: column; */
}

.search-home__text {
  flex-direction: column;
  display: flex;
  width: 100%;
  text-align: start;
}

.search-home__title {
  color: white;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  /* color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  width: 608px;
  height: 128px;
  top: 160px;
  left: 416px;
  margin: 80px auto 0 auto; */
}

.search-home__info {
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  /* color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 608px;
  height: 24px;
  top: 320px;
  left: 416px;
  margin: 40px auto 0 auto; */
}

.search__fieldset {
  background-color: #fff;
  width: 608px;
  height: 64px;
  border: none;
  border-radius: 100px;
  margin: 68px auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

/* .search__container {
  display: flex;
  flex-direction: column;
} */

.search__input {
  font-family: 'Roboto', Arial, sans-serif;
  height: 64px;
  border: 0;
  width: 564px;
  border-radius: 35px;
  padding: 0 0 0 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  /* color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 0 0 25px;
  border: none;
  margin: 21px 0 0 24px; */
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__input:focus {
  outline: none;
}

.search__errors {
  color: #ff0000;
  margin: 3px 0 3px 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;
}

.search__search {
  height: 64px;
  padding: 0;
  border: 0;
  background: #2f71e5;
  width: 168px;
  position: absolute;
  right: 18px;
  border-radius: 35px;
  top: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  cursor: pointer;
  /* background-color: #2f71e5;
  color: #fff;
  border: none;
  border-radius: 100px;
  width: 168px;
  height: 64px;
  padding: 0;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33em; */
}

.search__search:hover {
  background-color: #347eff;
  cursor: pointer;
}

.search__search:active {
  background-color: #2a65cc;
}

.search__search-mobile {
  display: none;
}

/* @media screen and (max-width: 1440px) {
  .search__title {
    font-size: 60px;
    width: 608px;
  }

  .search__info {
    width: 608px;
    margin: 64px auto 0 auto;
  }

  .search__fieldset {
    width: 608px;
  }

  .search__search:hover {
    background-color: #2a65cc;
    cursor: pointer;
  }

  .search__search:active {
    background-color: #2f71e5;
  }
} */

/* @media screen and (max-width: 1000px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search__title {
    width: 508px;
    margin: 40px auto 0 auto;
    text-align: center;
    line-height: 40px;
  }

  .search__info {
    margin: 50px auto 0 auto;
    width: 508px;
  }
  .search__fieldset {
    flex-direction: column;
    margin: 64px 16px 0 16px;
    width: 100%;
    height: 56px;
    width: 288px;
    height: 56px;
  }

  .search__search {
    display: none;
  }

  .search__search-mobile {
    display: flex;
    border: none;
    border-radius: 100px;
    background: #2f71e5;
    width: 288px;
    height: 56px;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33em;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0 auto;
  }

  .search__search:hover {
    background-color: #2a65cc;
    cursor: pointer;
  }

  .search__search:active {
    background-color: #2f71e5;
  }
} */

/* @media screen and (max-width: 800px) {
  .search {
    height: 480px;
  }

  .search__title {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    width: 385px;
    height: 80px;
    margin: 30px 19px 0 19px;
    margin: 50px 19px 0 19px;
  }

  .search__info {
    text-align: left;
    width: 385px;
    height: 72px;
    top: 182px;
    left: 16px;
    margin: 16px 16px 0 16px;
  }
  .search__search:hover {
    background-color: #2a65cc;
    cursor: pointer;
  }

  .search__search:active {
    background-color: #2f71e5;
  }
} */

/* @media screen and (max-width: 768px) {
  .search {
    height: 480px;
  }

  .search__title {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    width: 60%;
    height: 80px;
    margin: 30px 19px 0 19px;
    margin: 50px 19px 0 19px;
  }

  .search__info {
    text-align: left;
    width: 60%;
    height: 72px;
    top: 182px;
    left: 16px;
    margin: 16px 16px 0 16px;
  }

  .search__fieldset {
    margin: 61px 16px 0 16px;
    flex-direction: column;
    width: 288px;
    height: 56px;
  }

  .search__input {
    margin: 17px 16px 0 16px;
  }

  .search__errors {
    font-size: 11px;
    margin: 0 0 0 16px;
  }

  .search__search {
    display: none;
  }

  .search__search-mobile {
    display: flex;
    border: none;
    border-radius: 100px;
    background: #2f71e5;
    width: 288px;
    height: 56px;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33em;
    color: #fff;
    margin: 16px 16px 0 16px;
    justify-content: center;
    align-items: center;
  }
  .search__search:hover {
    background-color: #2a65cc;
    cursor: pointer;
  }

  .search__search:active {
    background-color: #2f71e5;
  }
} */

/* @media screen and (min-width: 682px) and (max-width: 725px) {
} */

/* @media screen and (min-width: 321px) and (max-width: 500px) {
  .search {
    height: 380px;
  }
  .search__title {
    width: 285px;
    margin: 16px;
    margin: 35px 19px 0 19px;
  }

  .search__info {
    width: 285px;
  }

  .search__fieldset {
    margin: 122px 16px 0 16px;
    flex-direction: column;
    width: 288px;
    height: 56px;
  }

  .search__input {
    margin: 17px 16px 0 16px;
  }

  .search__errors {
    font-size: 14px;
    margin: 8px;
  }

  .search__search {
    display: none;
  }

  .search__search-mobile {
    width: 288px;
  }

  .search__search-mobile:hover {
    background-color: #2a65cc;
    cursor: pointer;
  }

  .search__search-mobile:active {
    background-color: #2f71e5;
  }
} */

@media screen and (max-width: 1000px) {
  .search-home__content {
    width: 448px;
    margin-right: auto;
    margin-left: auto;
  }

  .search-home__title {
    font-size: 36px;
    line-height: 40px;
    margin: 38px 0 16px;
  }

  .search-home__info {
    margin: 0 0 48px;
  }
  .search__input {
    width: 424px;
  }

  .search__search {
    right: -2px;
  }
}

@media screen and (max-width: 520px) {
  .search-home__content {
    max-width: calc(100% - 32px);
    width: 100%;
  }

  .search-home__title {
    margin: 30px 0 16px;
  }

  .search-home__info {
    margin: 0 0 122px;
  }

  .search__input {
    margin-bottom: 16px;
    width: 93.5%;
  }

  .search__search {
    position: relative;
    width: 100%;
  }
}

/* @media screen and (max-width: 320px) {
  .search__title {
    width: 285px;
    margin: 35px 19px 0 19px;
  }

  .search__info {
    width: 285px;
  }

  .search__fieldset {
    margin: 122px 16px 0 16px;
    flex-direction: column;
    width: 288px;
    height: 56px;
  }

  .search__input {
    margin: 17px 16px 0 16px;
  }

  .search__errors {
    font-size: 11px;
    margin: 0 0 0 16px;
  }

  .search__search {
    display: none;
  }

  .search__search-mobile {
    display: flex;
    border: none;
    border-radius: 100px;
    background: #2f71e5;
    width: 288px;
    height: 56px;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33em;
    color: #fff;
    margin: 16px 16px 0 16px;
    justify-content: center;
    align-items: center;
  }
  .search__search:hover {
    background-color: #2a65cc;
    cursor: pointer;
  }

  .search__search:active {
    background-color: #2f71e5;
  }
} */
