.news {
  padding: 80px 104px 0 104px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f6f7;
}

.news__header {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 400;
  color: #1a1b22;
  margin: 0;
}

.news__cards {
  display: grid;
  margin: 64px 0 62px 0;
  gap: 16px;
  padding: 0;
  grid-template-columns: repeat(3, 400px);
}

.news__show {
  width: 288px;
  height: 64px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33em;
  color: #1a1b22;
  border-radius: 100px;
  border: none;
  padding: 0;
  margin: 24px auto 40px auto;
  background-color: #fff;
  /* border: 1px solid #000; */
}

.news__show:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .news {
    padding: 32px 16px 0 16px;
    margin: 0;
  }

  .news__header {
    font-size: 30px;
    line-height: 1.133em;
    margin: 0;
  }

  .news__cards {
    grid-template-columns: 224px;
    margin: 24px 0 24px 0;
  }

  .news__show {
    width: 288px;
    height: 56px;
    margin: 16px auto 24px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .news {
    padding: 40px 40px 32px 40px;
    margin: 0;
  }

  .news__header {
    font-size: 30px;
    line-height: 1.133em;
  }

  .news__cards {
    grid-template-columns: repeat(3, 224px);
    gap: 8px;
    margin: 32px 0 0 0;
  }

  .news__show {
    width: 240px;
    height: 56px;
    margin: 32px auto 8px auto;
  }
}
